@import '../../css/variables';

.topBanner {
  width: 100%;
  background-image: radial-gradient(circle at 0 0, #8454cd, #343945);

  .wrapper {
    position: relative;
    width: 1200px;
    // width:100%
    margin: 0 auto;
    height: 650px;
  }

  >img {
    position: absolute;
    &.imgRight {
      right: 0;
      top: 0;
    }

    &.imgTop {
      right: 30%;
      top: 0;
      transform: rotate(180deg);
    }

    &.imgBottom {
      bottom: -24px;
      left: 0;
    }
  }

  .title {
    padding-top: 214px;
    line-height: 50px;
    font-size: 36px;
    color: #fff;
    font-weight: 200;

    .logo {
      float: left;
      display: inline-block;
      margin-right: 4px;
      margin-top: 9px;
      width: 238px;
      height: 32px;
      img {
        width: 238px;
        height: 32px;
      }
    }
  }

  .slogan {
    margin: 48px 0;
    line-height: 30px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    > label {
      display: inline-block;
      padding: 8px 0 20px;
      border-top: 2px solid #f6a132;
      border-bottom: 2px solid #f6a132;
    }
  }

  .button {
    display: inline-block;
    width: 148px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #fabf3a;
    font-size: 16px;
    font-weight: 500;
    color: #fabf3a;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: rgba(250, 191, 58, 0.08);
    }
  }
}

.bannerOuter {
  width: 100%;
  height: 676px;
  background-color: #f9fafb;
}

.homeBanner {
  width: 1200px;
  margin: 0 auto;

  .image {
    display: inline-block;
    margin-top: 100px;
    width: 538px;
    height: 454px;

    svg {
      width: 538px;
      height: 454px;
    }

    &.left {
      float: right;
    }
  }

  .words {
    float: right;
    display: inline-block;
    margin-left: 24px;
    margin-top: 200px;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.7s;
    transition-duration: 0.5s;

    &.left {
      float: left;
      margin-right: 24px;
    }
  }

  .name {
    margin-bottom: 24px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #6d35c3;
  }

  .title {
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 28px;
    font-weight: 500;
    color: #343945;

    > label {
      display: inline-block;
      padding-top: 8px;
      border-top: 2px solid #f6a132;
    }
  }

  .description {
    margin-bottom: 20px;
    width: 490px;
    line-height: 32px;
    font-size: 16px;
    color: #576075;
  }

  .button {
    display: inline-block;
    padding: 0 16px;
    height: 44px;
    line-height: 44px;
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    color: #6d35c3;
    background-color: transparent;

    &:hover {
      background-color: #6d35c3;
      color: #fff;
    }
  }
}

.sceneBanner {
  width: 100%;
  height: 920px;

  .sceneContent {
    box-sizing: border-box;
    margin: 0 auto;
    width: 835px;
    height: 568px;
    padding: 32px 24px 0;
    background-image: radial-gradient(
                    circle at 0 0,
                    $Y200,
                    rgba(252, 217, 102, 0)
    );

    .title {
      margin-bottom: 32px;
      line-height: 32px;
      font-size: 24px;
      font-weight: 500;
      color: N500;
    }

    .scene {
      position: relative;
      background-image: url('/images/home/scene-bg-1.svg');
      padding-left: 52px;
      height: 440px;

      .currentImg {
        position: absolute;
        top: -8px;
      }

      .name {
        padding-top: 132px;
        margin-bottom: 20px;
        line-height: 32px;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
      }

      .description {
        margin-bottom: 20px;
        width: 500px;
        line-height: 36px;
        font-size: 16px;
        color: #d5dae5;
      }

      button {
        width: 148px;
        height: 46px;
        border-radius: 3px;
        text-align: center;
        border: 1px solid #fabf3a;
        font-size: 16px;
        font-weight: 500;
        color: #fabf3a;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: rgba(250, 191, 58, 0.08);
        }
      }

      .number {
        position: absolute;
        right: -160px;
        bottom: -50px;
        width: 278px;
        height: 84px;
        background-color: $P75;
        line-height: 40px;
        font-size: 30px;
        font-weight: 500;
        color: #fff;

        > label {
          display: inline-block;
          width: 128px;
          height: 84px;
          padding: 22px 0;
          vertical-align: top;
        }

        .arrowLeft,
        .arrowRight {
          vertical-align: top;
          margin-top: 10px;
          cursor: pointer;
        }

        .arrowLeft {
          margin-left: 48px;
          margin-right: 25px;
        }

        .arrowRight {
          margin-left: 25px;
          margin-right: 48px;
        }

        .currentNumber {
          position: relative;
          width: 150px;
          background-color: $P200;
          font-size: 40px;

          &::before {
            content: '';
            position: absolute;
            top: -120px;
            right: 0;
            bottom: 0;
            width: 20px;
            background: $P75;
            transform: perspective(0.5em) rotateX(8deg);
            transform-origin: bottom right;
          }
        }
      }
    }
  }
}
