@import '~scss/variables';

:global {
  .ReactModal__Overlay {
    background-color: rgba($N500, 0.9) !important;
    z-index: 10;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  max-width: 920px;
  width: 80vw;
  padding: 32px;
  border-radius: 2px;
  background-color: $N0;
  outline: none;

  .header {
    height: 24px;
    text-align: right;
  }

  .close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .body {
    padding: 24px 68px 24px;
    overflow: hidden;
  }

  @media only screen and (max-width: 1000px) {
    .body {
      padding: 24px 32px 24px;
    }
  }
}

@media only screen and (max-width: $mobile-max-width) {
  .modal {
    top: 12px;
    left: 12px;
    transform: translate(0, 0);
    width: calc(100vw - 24px);
    padding: 32px 24px;

    .header {
      margin-bottom: 0;
    }

    .body {
      padding: 28px 16px 24px;
    }
  }
}
