@import '../../scss/variables';
:global {
  body {
    font-family: "PingFang SC", "Roboto", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: $header-height;

  &.blankHeader {
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 $N10;

    .links {
      a {
        color: $N65;
      }

      a:hover, a.active {
        color: #000000;
      }
    }

    .otherLinks {
      a {
        color: $N500;
      }
    }
  }

  &.darkHeader {
    background-color: rgba($N500, 0.89);
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 $page-padding;
    max-width: 1200px;
    width: 100vw;
    // height: $header-height;
  }

  .logo {
    float: left;
    position: relative;
    display: block;
    padding: 26px 0;
    margin-right: 56px;

    .border {
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $Y300 ;
      border-radius: 0 4px 0 4px;
    }

    img {
      height: 20px;
    }
  }

  .links {
    float: left;
    margin: 26px 0;

    a {
      display: inline-block;
      margin: 0 24px;
      padding-bottom: 8px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      opacity: 0.8;
      border-bottom: 2px solid transparent;
    }

    a:hover,
    a.active {
      opacity: 1;
    }

    a.active {
      border-color: #f6a132;
    }
  }

  .otherLinks {
    font-family: "Roboto";
    float: right;
    margin: 16px 0;

    a {
      display: inline-block;
      margin-right: 8px;
      padding: 10px 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      border-radius: 2px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: rgba($N0, 0.08);
      }
      &:active {
        background-color: rgba($N0, 0.12);
      }
    }

    .github {
      float: left;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      margin-top: 2px;
    }
  }

  .menuIcon {
    float: right;
    display: none;
    margin-top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .meuns {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    text-align: center;
    background-color: rgba($N500, 0.95);
    padding-top: 52px;

    li {
      margin-bottom: 38px;
      height: 30px;
      padding-bottom: 8px;
      border-bottom: 2px solid transparent;
      a {
        display: inline-block;
        line-height: 20px;
        padding-bottom: 8px;
        opacity: 0.8;
        font-size: 14px;
        font-weight: 500;
        color: $N0;
        border-bottom: 2px solid transparent;

        &.active {
          opacity: 1;
          border-color: $Y300;
        }

        &:hover {
          opacity: 1;
        }
      }

      &.demo {
        height: 26px;

        a {
          opacity: 1;
          line-height: 16px;
        }
      }

      &.github {
        height: 34px;

        a {
          opacity: 1;
          line-height: 24px;
        }

        .githubIcon {
          float: left;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 4px;
          margin-top: 4px;
        }
      }

    }

    .close {
      position: fixed;
      top: 24px;
      right: 24px;
      z-index: 3;
      cursor: pointer;
    }
  }
}



@media only screen and (max-width: $mobile-max-width) {
  .header {
    height: $mobile-header-height;

    .logo {
      padding: 20px 0;

      img {
        height: 16px;
      }
    }

    .links, .otherLinks {
      display: none;
    }

    .menuIcon {
      display: inline-block;
    }
  }
}


